body{
    background-color: rgb(13, 14, 13);
}
    
.navigation{

    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    color: rgb(0, 128, 68);
}
.navlinks{
color: white;
}
.navlinks  a{
color: white;
text-decoration: none;
margin: 16px;
font-size: 25px;
}
.navlinks button{
    font-size: 18px;
    background-color: green;
    color: white;

}

.hero{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
display: block;
}
.hero-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;


}
.hero-content h1{
    font-size: 50px;
    margin: auto;
    

}
.hero-content p{
    font-size: 30px;
    color: white;
}
.hero-content button{
    margin: 8px;
    padding: 9px 14px;
    font-size: 21px;
    color: rgb(8, 8, 8);
    background-color: rgb(206, 48, 140);
    border-radius: 455px;
}
.hero-content button:hover {
    background-color: whitesmoke;
}
.search{
    margin: auto;
    width: 70%;
    display: ;
    margin-top: 20px;
    
}
.search input{
    width: 80%;
    padding: 10px;
    border-radius: 999px;

}
.search button{
    padding: 10px;
    border-radius: 9999px;
    background-color: rgb(57, 166, 230);
    font-size: 13px;
}

.row{
    display: flex;
    padding:0 4px ;
    flex-wrap: wrap;

}
.column{
    flex: 25%;
    max-width: 25%; ;
    padding: 0 4px;
}
.column> img{
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;

}
.holiday-cards {
    width: 70%;
    margin: auto;
    color: white;
    margin-top: 50px;
    
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card > img {
    width: 100%;
    height: auto;
    margin: 0px;
    
  }
  .card-content > p {
      margin: 8px 0;
      font-size: 18px;
  }
  .card {
      background-color: #1c1c1c;
      border-radius: 8px;
      overflow: hidden;
      margin:16px 0;
      width: 30%;
      color: white;
  }
  .card-content {
      padding:16px ;
      text-align: center;
  
  }
  .card-content > h2 {
      margin:0 0 8px ;
  
  }
  .card-content > p {
      margin: 8px;
      font-size: 18px;
  }
  .card-content >button {
      margin: 8px;
      padding:12px 24px ;
      font-size: 16px;
      border: none;
      color: white;
      background-color: #850885;
      cursor: pointer;
  }
  .card-content > button:hover {
      background-color: #a52fa5;
  
  } 
  